<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
        <br/><br/>
        <div class="container">
              
                      <div class="columns">
                            <div class="column is-one-third"></div>
                            <div class="column is-three-fifths">  
                                    <h3 class="title is-3">Sanatçı bilgileri başarıyla kaydedildi.</h3>  <a class="button is-success" href="AlbumEkle" style="margin-left:30%">Devam</a></div>
                            <div class="column is-two-fifths"></div>
                          </div>
            </div>
              
  
    
</body>
</html>