<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>

<body>
    <form action="http://localhost:3000/kayit" method="POST" >
        <br /><br /><br />

        <div class="columns is-multiline is-mobile">

            <div class="column is-one-quarter">
            </div>
            <div class="column is-one-quarter">
                <h3 class="title is-3">Sanatci Bilgileri</h3>
            </div>
            <div class="column is-one-quarter">

            </div>
            <div class="column is-one-quarter">

            </div>
        </div>


        <br />

        <div class="columns is-multiline is-mobile">
            <div class="column is-one-quarter">

            </div>
            <div class="column is-2 ">
                <h4 class="subtitle is-4">Sanatçı Ad Soyad</h4>
            </div>
            <div class="column is-one-quarter">
                <input class="input" name="ad" type="text" placeholder="Merve Özbey">
            </div>
            <div class="column is-one-quarter">

            </div>
        </div>
        </div>


        <div class="columns is-multiline is-mobile">
            <div class="column is-one-quarter">

            </div>
            <div class="column is-2 ">
                <h4 class="subtitle is-4">Sanatçı Dogum Tarihi</h4>
            </div>
            <div class="column is-one-quarter">
                <input class="input"  name="dogumtarihi" type="date">
            </div>
            <div class="column is-one-quarter">

            </div>
        </div>
        </div>

        <div class="columns is-multiline is-mobile">
            <div class="column is-one-quarter">

            </div>
            <div class="column is-2 ">
                <h4 class="subtitle is-4">Hayattami?</h4>
            </div>
            <div class="column is-one-quarter">

                <input type="radio" checked="checked" value="1" name="hayattami">
                Evet

                <input type="radio" value="0" name="hayattami">
                Hayır

            </div>
            <div class="column is-one-quarter">

            </div>
        </div>


       
        </div>

       






        <div class="columns is-multiline is-mobile">
            <div class="column is-one-quarter">

            </div>

            <div class="column is-one-quarter">

                <input type="submit" value="Onayla" class="button is-link">



                <a href="/" class="button is-light">Cancel</a>
            </div>
            <div class="column is-one-quarter">

            </div>
        </div>
        </div>




    </form>

</body>

</html>